# ==============================================
# 编辑器自动生成的文件（vscode）
# ==============================================
.vscode/
*.code-workspace
*.swp
*.swo
*~

# ==============================================
# 编译产物、构建文件夹、可执行文件
# ==============================================
build/
output/
*.exe
*.o
*.obj
*.out
*.dll
*.so
*.dylib

# ==============================================
# CMake 生成的文件
# ==============================================
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake-build-release/
*.cmake

# ==============================================
# 测试、日志、临时文件
# ==============================================
*.log
temp/
tmp/
*.tmp

# ==============================================
# Git 本身
# ==============================================
.git/